<%- include("./header.html",{
  pageTitle : '未知错误'
}) %>
<link href="/admin/js/vendors/datetimepicker/bootstrapv3/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
<link href="/admin/js/vendors/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" >
<link href="/admin/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
<link href="/admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
<link href="/admin/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
<link href="/admin/dist/css/sb-admin-2.css" rel="stylesheet">
<link href="/admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/admin/dist/css/pageDetail_analysisIndex.css" rel="stylesheet">
<div id="page-wrapper">
    <img src="/admin/images/common/404.png"/>
</div>
<%- include('./footer.html',{
  js:['/admin/echart/build/dist/echarts-all.js',
    '/admin/js/vendors/datetimepicker/js/bootstrap-datetimepicker.js',
    '/admin/js/vendors/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js',
    '/admin/js/mods/chartBase.js',
    '/admin/bower_components/datatables/media/js/jquery.dataTables.min.js',
    '/admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js',
    '/admin/bower_components/metisMenu/dist/metisMenu.min.js',
    '/admin/dist/js/sb-admin-2.js',
    '/admin/js/vendors/ejs.js',
    '/admin/js/conf/myChart.js'
  ]
}) %>
