<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= siteName %> <%= pageTitle %></title>
    <!-- rev-hash -->
<link rel="stylesheet" href="/dist/css/DataPlatform.min.css?v=39acd641d120daa75ed27d32c3ba363b"/>
<!-- end -->
    <link rel="shortcut icon" href="/dist/img/favico.ico" type="image/x-icon">
</head>
<body>
<div id="wrapper">
    <h2>
        开发人员添加修改模块
    </h2>

    <style>
        .routerView{
            margin-left: 250px;
            background: #fff;
            padding: 20px;

        }
    </style>

    <div class="app addMoudle" id="addMoudle">
        <side-bar></side-bar>
        <section class="routerView">
            <router-view></router-view>
        </section>
    </div>





</div>
<!-- rev-hash -->
<script src="/dist/js/vendor.min.js?v=f1e2f43ee38439c810a303766a099163"></script>
<script src="/dist/js/addModule.min.js?v=188ac85ab9fa7a6ce208c43c373fdac3"></script>
<!-- end -->
</body>
</html>
