<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= siteName %> <%= pageTitle %></title>
    <!-- rev-hash -->
<link rel="stylesheet" href="/dist/css/DataPlatform.min.css?v=70e178eeabb313ba56d6e07115d6a3c8"/>
<!-- end -->
    <link rel="shortcut icon" href="/dist/img/favico.ico" type="image/x-icon">
</head>
<body>
<div id="wrapper">
    <h2>
        开发人员添加修改模块
    </h2>

    <style>
        .routerView{
            margin-left: 250px;
            background: #fff;
            padding: 20px;

        }
    </style>

    <div class="app addMoudle" id="addMoudle">
        <side-bar></side-bar>
        <section class="routerView">
            <router-view></router-view>
        </section>
    </div>





</div>
<!-- rev-hash -->
<script src="/dist/js/vendor.min.js?v=f3900b11c49e9a71a7909024c74eab6c"></script>
<script src="/dist/js/addModule.min.js?v=665376ca54a47c237ff62788ddfc6c89"></script>
<!-- end -->
</body>
</html>
