<nav>
  <ul class="pagination">
    <li data-action="J_prev" <%if(currentPage == 1){%>class="disabled"<%}%> >
      <a href="javascript:;" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <%-createPaginationItem(currentPage,pageCount,pageMax,paginationMaxCount)%>
    <li data-action="J_next" <%if(currentPage == pageCount || pageCount == 0){%>class="disabled"<%}%> >
      <a href="javascript:;" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
