<% include ../include/header.html %>
<link rel="stylesheet" type="text/css" href="/dist/css/DataPlatform.min.css">
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>用户管理</strong>
                </div>
                <div class="panel-body">
                    <div class="table_con table-responsive">
                        <table class="table table-bordered table-hover" role="grid" aria-describedby="dataTables_info"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/src/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="/src/js/lib/jquery-table.min.js"></script>
<script type="text/javascript">
    
</script>
    <script>
    var $page_config = {
        currentPage: <%=currentPage%>,
        pageCount: <%=pageCount%>,
        path: '<%=path%>'
    };
    var limitArray = <%-JSON.stringify(limit);%>;
    var users = <%- JSON.stringify(users); %>;
    var columns = [];
    var map = {
        id: 'ID',
        username: '邮箱',
        is_admin: '管理员/普通用户'
    }

    for(var key in users[0]){
        columns.push({
            data: key,
            title: map[key]
        })
    }

    for (var i = users.length - 1; i >= 0; i--) {
        users[i].is_admin = users[i].is_admin === 0 ? '普通用户' : '管理员';
    }

    var setConfig = {
        columns: columns,
        data: users,
        ordering: false,
        info: false,
        responsive: false,
        lengthChange: false,
        retrieve: true,
        "language": {
            "emptyTable": "暂无数据",
            "search": "查询："
        }
    }

    $('.table').DataTable(setConfig);
    
    </script>
</div>
</body>
</html>
