<% include ../include/header.html %>
<link rel="stylesheet" type="text/css" href="/dist/css/DataPlatform.min.css">
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>用户管理</strong>
                </div>
                <div class="panel-body">
                    <div class="table_con table-responsive">
                        <table class="table table-bordered table-hover table-striped table-condensed" id="userInfoTable">
                            <thead>
                                <tr>
                                    <th width="10%">ID</th>
                                    <th width="10%">邮箱</th>
                                    <th width="20%">管理员/普通用户</th>
                                    <% if(session.userInfo.is_admin){%><th width="70%">权限操作</th><%}%>
                                </tr>
                            </thead>
                            <tbody>
                            <% if (users.length) {
                                users.forEach(function(user){%>    
                                <tr>
                                    <% Object.keys(user).forEach(function(item){
                                        if(item === "is_admin"){
                                        %>
                                    <td><span class="user-role"><%=user[item] ? "管理员" : "普通用户"%></span><a href="javascript:;" class="limit-change-role btn btn-default pull-right <%= session.userInfo.is_admin && parseInt(session.userInfo.is_admin) === 99? "" : "hidden"%> title="编辑<%=user.id%>的角色" data-role="<%=user.is_admin%>" data-id="<%=user.id%>">角色修改<i class="fa fa-pencil-square-o"></i></a></td>
                                        <%
                                        }else{
                                        %>
                                    <td><%=user[item]%></td>
                                        <%
                                        }
                                    }) 
                                    %>
                                    <% if(session.userInfo.is_admin){%>
                                    <td class="<%=session.userInfo.is_admin?'' : 'hidden';%>">
                                        <a href="javascript:;" class="limit-edit btn btn-default" data-id="<%=user.id%>" title="编辑<%=user.id%>的权限">编辑<i class="fa fa-pencil-square-o"></i></a>
                                        <form style="display:none;" class="form-inline pull-right" method="post"><input type="hidden" name="userId" value="<%=user.id%>"/><input type="hidden"  name="limits"><input class="btn btn-default" type="button" value="保存" name="submit"></form>
                                        <select class='js-example-responsive js-data-example-ajax form-control hidden'  multiple='multiple' style="width: 50%"></select>
                                    </td>
                                    <%}%>
                                </tr>
                                <% }) %>
                            <% }else{ %>
                                <tr>
                                    <td colspan="5">
                                        <div class="alert alert-info alert-dismissible" role="alert" style="margin-bottom:0px;">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>温馨提示：</strong>未搜索到相关的数据，请重新搜索
                                        </div>
                                    </td>
                                </tr>
                            <%
                            }
                            %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" style="position:relative;">
                                        <input type="text" class="form-control pull-left" placeholder="请输入邮箱帐号......" style="width:initial;" name="search-by-mail">
                                        <span class="pull-left" style="margin-left:5px;">
                                            <button class="btn btn-default" type="button" name="search-btn">查询</button>
                                        </span>
                                        <span class="alert-message hidden label label-danger pull-left" style="position:absolute;top:50%;transform:translateY(-50%);"></span>
                                    </td>
                                </tr>
                            </tfoot>
                            </table>
                            <% include ../include/pagination.html %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/src/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="/src/js/lib/select.min.js"></script>
    <script>
    var $page_config = {
        currentPage: <%=currentPage%>,
        pageCount: <%=pageCount%>,
        path: '<%=path%>'
    };
    var limitArray = <%-JSON.stringify(limit);%>;

    </script>

    <script type="text/javascript">
        /**
         * @author liuliang
         * @fileoverview 用户权限页面逻辑
         * @date 20151222
         */

        (function(doc, win) {

            var userManagement = {
                init: function() {
                    this.$edit = $(".limit-edit");
                    this.$view = $(".limit-view");
                    this.$changeRole = $(".limit-change-role");
                    this.$searchBtn = $("button[name=search-btn]");
                    this.data = this.createSelect2(win.limitArray, true);
                    this.bindEvent();
                },
                bindEvent: function() {
                    var self = this;
                    self.$edit.click(function() {
                        var $select = $(this).parent().find(".js-data-example-ajax");
                        if (!$select.data('select')) {
                            var select = $select.select2({
                                data: self.data
                            });
                            $select.data('select', select).next('.select2-container').hide();
                        }
                        $(this).parents('td').children('form').toggle();
                        $select.next('.select2-container').toggle();
                        if ($select.data('open') !== 1) {
                            var userid = $(this).attr('data-id');
                            self.getLimits(userid, function(data) {
                                if (data.length) {
                                    data = data[0].limited.split(',');
                                    $select.data('select').val(data).trigger('change');
                                }
                            });
                            $select.data('open', 1);
                        } else {
                            //clear
                            $select.data('select').val(null).trigger('change');
                            $select.data('open', 0);
                        }
                        return false;
                    });

                    /*点击提交按钮提交*/
                    $("input[name=submit]").on("click", function() {
                        var tdParent = $(this).parents('td');
                        var value = tdParent.find("select").val();
                        var userid = tdParent.find('input[name=userId]').val();
                        self.setLimits({
                            userId: userid,
                            limits: value.join(',')
                        }, function(data) {
                            if (data.success) {
                                alert('更新成功');
                                tdParent.find('.limit-edit').trigger('click');
                            } else {
                                alert('更新失败');
                            }
                        });
                    });

                    /*点击角色修改*/
                    this.$changeRole.on("click", function() {
                        var that = $(this);
                        var role = parseInt($(this).data('role'));
                        role = role === 0 ? 1 : 0;
                        self.setRole(role, $(this).data('id'), function(data) {
                            if (data.success) {
                                that.data("role", data.data);
                                that.parent("td").children('.user-role').text(data.data + 0 ? "管理员" : "普通用户");
                            }
                        });
                        return false;
                    });

                    self.$searchBtn.on("click", function() {
                        self.searchUser();
                        return false;
                    });

                    $("input[name=search-by-mail]").keydown(function(e) {
                        if (e.keyCode === 13) {
                            self.searchUser();
                        }
                    });
                },
                getLimits: function(userid, cb) {
                    this._request('/user/showLimit', {
                        userId: userid
                    }, cb);
                },
                setLimits: function(data, cb) {
                    this._request('/user/updateLimit', data, cb);
                },
                setRole: function(role, userid, cb) {
                    this._request('/user/changeRole', {
                        role: role,
                        userId: userid
                    }, cb);
                },
                _request: function(api, data, cb, type) {
                    $.ajax({
                        type: type || 'POST',
                        url: api,
                        data: data,
                        dataType: 'json',
                        success: cb
                    });
                },
                searchUser: function() {
                    var input = $("input[name=search-by-mail]");
                    if (!input.val().trim()) {
                        $(".alert-message").removeClass('hidden').text("搜索内容不能为空");
                        return false;
                    } else {
                        location.href = "/user/all?query=" + input.val();
                    }
                },
                createSelect2: function(initailData, isDisplayFalseUndo) {
                    var data = [],
                        key = null,
                        path = null;

                    function forPath(data, v, k) {
                        data.id += "-" + k;
                    }
                    if (Array.isArray(initailData)) {
                        initailData.forEach(function(item, index) {
                            key = Object.keys(item)[0];
                            if (item[key].display || isDisplayFalseUndo) {
                                data[index] = {
                                    id: item[key].id
                                };
                                for (var keys in item[key]) {
                                    if (keys === "name") {
                                        data[index].text = item[key].name;
                                    } else if (keys === "path" && item[key].path.length > 0) {
                                        path = item[key].path;
                                        path.forEach(forPath.bind(null, data[index]));
                                    }
                                }
                            }
                        });
                    }
                    return data;
                }
            };

            $(doc).ready(function() {
                userManagement.init();
            });

        })(document, window);

    </script>

    <script type="text/javascript">
        /**
         * @author liuliang
         * @date 20151222
         * @fileoverview  分页前台逻辑
         */
        (function(win) {

            function pagination(options) {

                var currentPage = options.currentPage,
                    pageCount = options.pageCount,
                    path = options.path,
                    params = (function(a) {
                        var ret = {},
                            seg = a.search.replace(/^\?/, '').split('&'),
                            len = seg.length,
                            i = 0,
                            s;
                        for (; i < len; i++) {
                            if (!seg[i]) {
                                continue;
                            }
                            s = seg[i].split('=');
                            ret[s[0]] = s[1];
                        }
                        return ret;
                    })(location);

                function gotoPage(page) {
                    location.href = path + "?page=" + page + (params.query ? "&query=" + params.query : "");
                }

                $('.pagination').on('click', "[data-action=J_page]", function(e) {
                    var target = $(e.target);
                    if (!target.parent().hasClass('goto')) gotoPage(target.text());
                });

                $('.pagination').on("click", "[data-action=J_prev]", function(e) {
                    var target = $(e.target);
                    var isDisabled = target.hasClass('disabled');
                    if (!isDisabled) {
                        currentPage -= 1;
                        currentPage = currentPage < 1 ? 1 : currentPage;
                        gotoPage(currentPage);
                    }
                });

                $('.pagination').on("click", "[data-action=J_next]", function(e) {
                    var target = $(e.target);
                    var isDisabled = target.hasClass('disabled');
                    if (!isDisabled) {
                        currentPage += 1;
                        currentPage = currentPage > pageCount ? pageCount : currentPage;
                        gotoPage(currentPage);
                    }
                });

            }

            pagination(win.$page_config);

        })(window);
    </script>

</div>
</body>
</html>
