<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= siteName %> <%= pageTitle %></title>
    <!-- rev-hash -->
<link rel="stylesheet" href="/dist/css/DataPlatform.min.css?v=f7b8fd3d887bc553e058674bece06ebb"/>
<!-- end -->
    <link rel="shortcut icon" href="/dist/img/favico.ico" type="image/x-icon">
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!/"><%= siteName %></a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                      <form method="post" id="logout" action="/logout">
                        <a href="javascript:document.getElementById('logout').submit();"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                      </form>
                    </li>
                </ul>
            </li>
        </ul>

    </nav>
    <div id="page-wrapper" class="app" style="min-height: 1054px;">
        <router-view></router-view>
    </div>
</div>
</body>
</html>
<script src="/dist/js/vendor.min.js?v=c0412a91f0ca81208b6c4cc40fbb3529"></script>