<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= siteName %></title>
    <link rel="stylesheet" type="text/css" href="/dist/css/DataPlatform.min.css">
    <link rel="shortcut icon" href="/dist/img/favico.ico" type="image/x-icon">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In(请使用国美在线邮箱账户)</h3>
                        <% if(flash.message){ %>
                          <p class="text-danger"><%= flash.message %></p>
                        <% } %>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="/login" method="post">
                            <input type="hidden" value="<%= from %>" name="from">
                            <input type="hidden" value="" name="hash" id="hash">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <button class="btn btn-lg btn-success btn-block">Login</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">

document.getElementById('hash').value = window.location.hash;

</script>
</html>
