<%- include('../include/header.html',{
    pageTitle: pageTitle
}) %>
    <script type="text/javascript">
    var initData = {
        "pageTitle": "测试",
        "drop_down_default_data": {
            "platform": ["H5", "android", "ios"],
            "version": ["0.0.1", "ALL"],
            "channel": [],
            "coupon": ["商家优惠券", "平台优惠券"]
        },
        "defaultData": [{
            "type": "table",
            "title": "test",
            "query_api": "/test_json1"
        },{
            "type": "chart",
            "title": "图",
            "query_api": "/test_json2"
        }]
    }
    </script>
    <div id="page-wrapper" style="min-height: 1054px;">
        <m-loading :loading.sync="loading"></m-loading>
    </div>
    <%- include('../include/footer.html') %>
        <!--
    components: {
        excel_export: true,
        date_picker: {
            show: true,
            defaultData: 7
        },
        drop_down: {
            platform: false,
            channel: false,
            version: false,
            coupon: false,
        },
        level_select: {
            show: true,
            data: 'data'
        },
        filter_select: {
            show: false,
            type: 'btn/radio',
            data: {
                title: '指标选择',
                groups: [{
                    key: '',
                    value: ''
                }, {
                    key: '',
                    value: ''
                }]
            }
        },
        filter_select_level: {
            show: true,
            data: [{
                title: '',
                groups: [],
                cell: {
                    title: '',
                    key: '',
                    groups: [{
                        key: '',
                        value: ''
                    }, {
                        key: '',
                        value: ''
                    }, {
                        key: '',
                        value: ''
                    }],
                }
            }]
        }
    }


    -->
